<h1>Uploaded documents</h1>

<ul>
  <% @documents.each do |document| %>
    <li>
      <%= link_to "From #{document.from} for $#{document.total} (Paid: #{document.paid})", document %>
    </li>
  <% end %>
</ul>

<%= link_to "New Document", new_document_path %>
